<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.framework.testcase.Login"/>
      <class name="com.framework.testcase.dashboardpagetest"/>
      <class name="com.excelr.base.OHRMbase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
